.navbar-light .navbar-brand{
  color: black;
  font-size: 55px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}
.navbar-nav .nav-link {
  font-size: 15px;
  color: black;
  text-transform: uppercase;
  font-weight: 500;
  margin-right: 20px;
}
p {
  font-size: 28px;
}
.card-body .text-success{
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 500;  
}
.items-infor {
  color: black;
  font-size: 25px;
  background-color: aliceblue;
}
.modal-content {
  width: 600px;
  max-width: 90%;
}
#loginForm {
  width: 400px;
  margin: 0 auto;
}
#loginForm label,
#loginForm input[type="text"],
#loginForm input[type="password"],
#loginForm button[type="submit"] {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
#loginForm button[type="submit"] {
  width: auto;
}
#data-container .card {
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#data-container {
  display: flex;
  justify-content: center;
}
#chart-container {
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
}
canvas {
  max-width: 100%;
  height: auto;
}
.modal-title {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
}
.table th, .table td {
  text-align: center;
  vertical-align: middle;
  padding: 15px;
  border: 1px solid #dee2e6;
}
.table th, .table td {
  width: 15%;
}
.modal-content {
  max-width: 800px;
  width: 91200%;
  margin: 0 auto;
}
.table {
  width: 80%;
  margin-bottom: 0;
}
#chart-container {
  width: 1000%;
  max-width: 800px;
  margin: 20px auto;
}
canvas {
  max-width: 1000%;
  height: 500px;
}
.infowindow-content {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.6;
}
.infowindow-content h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}
.infowindow-content p {
  margin: 4px 0;
}
.infowindow-content .data-label {
  font-weight: bold;
  color: #333;
}
.infowindow-content .data-value {
  color: #555;
}
